

body{
 background-color: white;
 background-repeat: no-repeat;
 background-image: url('./images/meteo2.jpg');

}

.cadre {
  margin-top: 150px;
  
}

.image{
  background-image: url('./images/meteo2.jpg');
  opacity: .5;
  padding-bottom: 300px;

}